Repository irongut/CodeCoverageSummary, pull requests merged in 2021-09, with the labels that each got.

#7 Handle optional complexity attribute
  src/CodeCoverageSummary/Program.cs
Labels: enhancement, Summary

#8 Bump docker image to v1.0.3 in action.yml
  action.yml
Labels: bug, Action

#10 Make compatible with gcovr
  src/CodeCoverageSummary/CodeSummary.cs
  src/CodeCoverageSummary/Program.cs
  src/CodeCoverageSummary/Properties/launchSettings.json
  src/coverage.gcovr.xml
Labels: bug, Parsing
